<!DOCTYPE html>

<html xmlns th = "http://www.thymeleaf.org">
	
<head>

	<meta charset="UTF-8">
	<link rel="stylesheet" href="teamdiv.css">

	<title>Insert title here</title>
</head>

<body>
	
	<p>自己紹介登録<button>登録に進む</button></p>
	
	<ul>
		<li><p>新しく自己紹介を作ります。</p></li>
		<li><p>あなたをより知ってもらうために、</p></li>
		<li><p>趣味や一言を工夫しましょう。</p></li>
		<li><p>最高の自己紹介を完成させて、よりあなたを</p></li>
		<li><p>知ってもらえるチャンスにしましょう。</p></li>
	</ul>
				
	<p>自己紹介登録者一覧<button>一覧を編集する</button></p>

	<p>登録している人を確認します。</p>
	<p>登録している人の自己紹介記事をみてみましょう。</p>
	
	
</body>

</html>