<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	<h1>自己紹介</h1>
<form th:action="@{/introductions/detail}" th:object="${introductions}" method="post">
	<table>
<!--		<tr th:each="user : ${introductions}">-->
		<tr th:text="*{introductions_id}">管理番号</tr>
		<tr th:text="*{name}">名前</tr>
		<tr th:text="*{kana}">フリガナ</tr>
		<tr th:text="*{gender}">性別</tr>
		<tr th:text="*{hobby}">趣味</tr>
		<tr th:text="*{word}">一言</tr>
		</tr>
		
	</table>

	<p>
		<a th:href="/introductions/list"><button type="button">戻る</button></a>
		<button type="submit">編集</button>
		<button type="button">削除</button>
	</p>
</form>
</body>

</html>