<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	<h1>自己紹介</h1>

	<table>
		<tr>
			<th>管理番号</th>
			<td></td>
		</tr>

		<tr>
			<th>名前</th>
			<td></td>
		</tr>

		<tr>
			<th>フリガナ<th>
			<td></td>
		</tr>

		<tr>
			<th>性別</th>
			<td></td>
		</tr>

		<tr>
			<th>趣味</th>
			<td></td>
		</tr>

		<tr>
			<th>一言</th>
			<td></td>
		</tr>

	</table>

	<p>
		<a href="/list"><button type="submit">戻る</button></a>
		<a href="/input"><button type="submit">編集</button></a>
		<button type="submit">削除</button>

	</p>

</body>

</html>