<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	<h2>自己紹介の内容を記入して下さい</h2>

	<table>
		<tr>
			<th>名前</th>
			<td>必須</td>
			<td><input type="text"></td>
		</tr>

		<tr>
			<th>フリガナ</th>
			<td>必須</td>
			<td><input type="text"></td>
		</tr>


		<tr>
			<th>性別</th>
			<td></td>
			<td>
				<input type="radio" id="gendr1" name="gendr">
				<label for="gendr1">男性</label>
			</td>
			<td>
				<input type="radio" id="gendr2" name="gendr">
				<label for="gendr2">女性</label>
			</td>
		</tr>

		<!--時間あったら修正-->
		<tr>
			<th>趣味</th>
			<td>必須</td>
			<td>
				<input type="checkbox" id="1" name="1">
				<label for="1">趣味1</label>
			</td>

			<td>
				<input type="checkbox" id="2" name="2">
				<label for="2">趣味2</label>
			</td>

			<td>
				<input type="checkbox" id="3" name="3">
				<label for="3">趣味3</label>
			</td>

			<td>
				<input type="checkbox" id="4" name="4">
				<label for="4">趣味4</label>
			</td>

			<td>
				<input type="checkbox" id="5" name="5">
				<label for="5">趣味5</label>
			</td>

			<td>
				<input type="checkbox" id="6" name="6">
				<label for="6">趣味6</label>
			</td>

		</tr>

		<tr>
			<th>一言</th>
			<td></td>
			<td><input type="text"></td>
		</tr>


	</table>

	<p><a href="/"><button type="submit">戻る</button></a>
		<a href="/confirm"><button type="submit">次へ</button></a>
	</p>


</body>

</html>