<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>入力画面</title>
</head>

<body>

	<h2>自己紹介の内容を記入して下さい</h2>

	<form th:action="@{/introductions}" th:object="${introductionsform}" method="post">
	<table>
		<tr>
			<th>名前</th>
			<td>必須</td>
			<td><input type="text" th:field="*{name}"></td>
		</tr>

		<tr>
			<th>フリガナ</th>
			<td>必須</td>
			<td><input type="text" th:field="*{kana}"></td>
		</tr>

<!--		<tr>-->
<!--			<th>性別</th>-->
<!--			<td></td>-->
<!--			<td>-->
<!--				<input type="radio" id="gender1" name="gender">-->
<!--				<label for="gender1" th:field="*{gender}">男性</label>-->
<!--			</td>-->
<!--			<td>-->
<!--				<input type="radio" id="gender2" name="gender">-->
<!--				<label for="gender2" th:field="*{gender}">女性</label>-->
<!--			</td>-->
<!--		</tr>-->

<!--		<tr>-->
<!--			<th>趣味</th>-->
<!--			<td>必須</td>-->
<!--			<td>-->
<!--				<input type="checkbox" id="1" name="1">-->
<!--				<label for="1" th:field="*{hobby}">趣味1</label>-->
<!--			</td>-->

<!--			<td>-->
<!--				<input type="checkbox" id="2" name="2">-->
<!--				<label for="2" th:field="*{hobby}">趣味2</label>-->
<!--			</td>-->

<!--			<td>-->
<!--				<input type="checkbox" id="3" name="3">-->
<!--				<label for="3" th:field="*{hobby}">趣味3</label>-->
<!--			</td>-->

<!--			<td>-->
<!--				<input type="checkbox" id="4" name="4">-->
<!--				<label for="4" th:field="*{hobby}">趣味4</label>-->
<!--			</td>-->

<!--			<td>-->
<!--				<input type="checkbox" id="5" name="5">-->
<!--				<label for="5" th:field="*{hobby}">趣味5</label>-->
<!--			</td>-->

<!--			<td>-->
<!--				<input type="checkbox" id="6" name="6">-->
<!--				<label for="6" th:field="*{hobby}">趣味6</label>-->
<!--			</td>-->
<!--		</tr>-->

		<tr>
			<th>一言</th>
			<td></td>
			<td><input type="text"  th:field="*{word}"></td>
		</tr>

	</table>

	<p><a th:href="@{/home}"><button type="button">戻る</button></a>
		<button type="submit">次へ</button>
	</p>
	</form>
</body>

</htm>