<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>入力画面</title>
</head>

<body>

    <h2>自己紹介の内容を記入して下さい</h2>

    <form th:action="@{/introductions/confirm}" th:object="${introductionsform}" method="post">

        <!-- 編集時のみ ID を渡す -->
        <input type="hidden" th:if="*{introduction_id != null}" th:field="*{introduction_id}" />

        <table>
            <tr>
                <th>名前</th>
                <td>必須</td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>

            <tr>
                <th>フリガナ</th>
                <td>必須</td>
                <td><input type="text" th:field="*{kana}" /></td>
            </tr>

            <tr>
                <th>性別</th>
                <td colspan="2">
                    <input type="radio" id="gender1" th:field="*{gender}" value="男性" />
                    <label for="gender1">男性</label>
                    <input type="radio" id="gender2" th:field="*{gender}" value="女性" />
                    <label for="gender2">女性</label>
                </td>
            </tr>

            <tr>
                <th>趣味</th>
                <td colspan="2">
                    <input type="checkbox" id="hobby1" th:field="*{hobby}" value="趣味1" />
                    <label for="hobby1">趣味1</label>

                    <input type="checkbox" id="hobby2" th:field="*{hobby}" value="趣味2" />
                    <label for="hobby2">趣味2</label>

                    <input type="checkbox" id="hobby3" th:field="*{hobby}" value="趣味3" />
                    <label for="hobby3">趣味3</label>

                    <input type="checkbox" id="hobby4" th:field="*{hobby}" value="趣味4" />
                    <label for="hobby4">趣味4</label>

                    <input type="checkbox" id="hobby5" th:field="*{hobby}" value="趣味5" />
                    <label for="hobby5">趣味5</label>

                    <input type="checkbox" id="hobby6" th:field="*{hobby}" value="趣味6" />
                    <label for="hobby6">趣味6</label>
                </td>
            </tr>

            <tr>
                <th>一言</th>
                <td colspan="2"><input type="text" th:field="*{word}" /></td>
            </tr>
        </table>

        <p>
            <button type="button" onclick="location.href='/home'">戻る</button>
            <button type="submit">次へ</button>
        </p>

    </form>
</body>

</html>
