<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>自己紹介登録者一覧</title>
</head>

<body>
	<h1>自己紹介登録者一覧</h1>
			
	<table>
		<tr>
			<th>ID</th>
			<th>名前</th>
		</tr>
		
		<tr th:each="introduction : ${introductionsList}">
		    <td>
		        <a th:href="@{'/introductions/detail/' + ${introduction.introduction_id}}">
		            <span th:text="${introduction.introduction_id}"></span>
		        </a>
		    </td>
			<td th:text="${introduction.name}"></td>
		</tr>
</table>
	</form>
	<p><a th:href="@{/home}">TOPへ戻る</a></p>
</body>

</html>