<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
</head>
<body>
    <h1>ログイン</h1>

    <form action="#" th:action="@{/home/login}" th:object="${userform}" method="post">
        <div>
            <label for="id">UserID</label>
            <input type="text" id="id" th:field="*{id}">
        </div>
        
		<div>
            <label for="password">PassWord</label>
            <input type="password" id="password" th:field="*{password}">
        </div>
		
        <button type="submit">ログイン</button>
    </form>

    <p><a th:href="@{/users}">新規会員登録はこちら</a></p>
</body>
</html>