<!DOCTYPE html>
<html>
<head>
<title>チェックボックス付きテーブル</title>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
</style>
</head>
<body>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>項目1</th>
        <th>項目2</th>
        <th>項目3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>行1</td>
        <td><input type="checkbox" name="row1[]" value="option1"></td>
        <td><input type="checkbox" name="row1[]" value="option2"></td>
        <td><input type="checkbox" name="row1[]" value="option3"></td>
      </tr>
      <tr>
        <td>行2</td>
        <td><input type="checkbox" name="row2[]" value="option1" checked></td>
        <td><input type="checkbox" name="row2[]" value="option2"></td>
        <td><input type="checkbox" name="row2[]" value="option3"></td>
      </tr>
    </tbody>
  </table>

</body>
</html>